.navbarcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: greenyellow;
    height: 80px;
}

.brandicon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

a{
    text-decoration-line: none;
}


.brandname{
    font-weight: bolder;
    font-size:x-large;
}

p {
   display: flex;
   flex-direction: row;
   align-items: center; 
}